.card {
  display: flex;
  padding: 0 130px;
  max-width: 1440px;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  background: linear-gradient(
      180deg,
      rgba(41, 46, 75, 0.3) 0%,
      rgba(37, 40, 58, 0.3) 100%,
      rgba(41, 46, 75, 0.3) 100%
    ),
    radial-gradient(
      46.55% 56.79% at 0% 105.61%,
      #3eeee3 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      36.2% 43.15% at 103.42% -8.18%,

      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    );
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  & h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: var(--primery);
  }
  & h2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.3;
    color: #e9eef4;
  }
  &p {
    line-height: 1.4;
    color: #e8e8e8;
  }
}

.img {
  margin-top: 83px;
}
