.card {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0 130px;
  max-width: 1440px;
  height: 577px;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  background: linear-gradient(
      180deg,
      rgba(41, 46, 75, 0.3) 0%,
      rgba(37, 40, 58, 0.3) 100%,
      rgba(41, 46, 75, 0.3) 100%
    ),
    radial-gradient(
      46.55% 56.79% at 0% 105.61%,
      #3eeee3 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      36.2% 43.15% at 103.42% -8.18%,

      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    ),
    linear-gradient(2deg, #213763 1.93%, rgba(42, 58, 86, 0) 59.7%),
    linear-gradient(
      135deg,
      rgba(41, 46, 75, 0.5) 0%,
      rgba(41, 46, 75, 0.5) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      77.75% 73.99% at 100% 106.39%,
      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    );
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 542px;
  gap: 24px;
  & h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: var(--primery);
  }
  & h2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.3;
    color: #e9eef4;
  }
  &p {
    line-height: 1.4;
    color: #e8e8e8;
  }
}

.button {
  padding: 20px 100px;
  max-width: 291px;
}

.img {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.bg {
  position: absolute;
  top: -18%;
  left: -15%;
  z-index: -1;
}

.cardInfo {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 25px;
  width: 269px;
  padding: 16.5px 30px;
  border: 1px solid #ffffff2c;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 70px 0 rgba(180, 180, 180, 0.3);
  background: linear-gradient(
      135deg,
      rgba(41, 46, 75, 0.5) 0%,
      rgba(41, 46, 75, 0.5) 100%,
      rgba(48, 58, 120, 0.5) 100%
    ),
    radial-gradient(
      85.58% 99.15% at -5.37% -16.9%,
      #3da5f5 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      83.1% 78.14% at 102.6% 109.78%,
      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    );
  & h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 27px;
  }
  & p {
    line-height: 1.4;
  }
}

@media (max-width: 1280px) {
  .card {
    padding: 0 100px;
    height: 500px;
  }

  .description {
    width: 450px;
  }

  .description h2 {
    font-size: 42px;
  }

  .img {
    right: 0;
  }

  .bg {
    top: -12%;
  }

  .cardInfo {
    right: 2%;
  }
}

@media (max-width: 1024px) {
  .card {
    align-items: center;
  }

  .cardInfo {
    width: 200px;
    padding: 10px 20px;
    & h5 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    & p {
      font-size: 12px;
    }
  }

  .description {
    width: 50%;
  }

  .description h2 {
    font-size: 30px;
  }

  .description p {
    font-size: 12px;
  }

  .img {
    width: 80%;
    & img {
      max-height: 100%;
    }
  }

  .bg {
    top: -8%;
  }

  .cardInfo {
    bottom: 5%;
    right: 5%;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 0 40px;
  }

  .button {
    padding: 20px 30px;
    max-width: 70%;
    font-size: 12px;
  }

  .description {
    width: 50%;
    z-index: 5;
  }

  .description h2 {
    font-size: 20px;
  }
  .description p {
    font-size: 10px;
  }

  .description h5 {
    font-size: 14px;
  }

  .img {
    left: 15%;
    width: 70%;
  }

  .bg {
    top: -5%;
  }

  .cardInfo {
    bottom: 2%;
    right: 2%;
    width: 160px;
    height: 150px;
    & h5 {
      font-size: 15px;
      margin-bottom: 15px;
    }
    & p {
      font-size: 10px;
    }
  }
}

@media (max-width: 480px) {
  .card {
    padding: 40px 20px;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    width: 60%;
    gap: 15px;
  }

  .description h2 {
    font-size: 26px;
  }

  .img {
    left: 20%;
  }

  .image {
    width: 500px;
    height: 50%;
  }

  .bg {
    display: none;
  }

  .cardInfo {
    bottom: 1%;
    right: 1%;
    width: 140px;
    height: auto;
    padding: 10px 10px;
    & h5 {
      font-size: 12px;
      margin-bottom: 10px;
    }
    & p {
      font-size: 10px;
    }
  }
}

@media (max-width: 380px) {
  .img {
    left: 10%;
  }

  .image {
    width: 450px;
    height: 50%;
  }

  .button {
    padding: 20px 20px;
    max-width: 70%;
    font-size: 10px;
  }
}
