.serviceSection {
  max-width: 1180px;
  margin: 250px auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 0;
  list-style: none;
}

.headerCard {
  padding: 27px 26px !important;
  min-height: 100%;
}

.listItem {
  border-radius: 25px;
  max-width: 380px;
  height: 326px;
  padding: 32px 24px;
  background: linear-gradient(
      180deg,
      rgba(41, 46, 75, 0.3) 0%,
      rgba(48, 58, 120, 0.3) 100%
    ),
    linear-gradient(
      180deg,
      rgba(223, 29, 255, 0.2) 0%,
      rgba(72, 205, 255, 0.1) 100%
    );
  & h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: var(--primery);
    margin-top: 12.5px;
  }
  & h2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.3;
  }
  & p {
    line-height: 1.4;
    color: var(--gray-30);
  }
}

.listItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1280px) {
  .listItem h2 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .serviceSection {
    margin: 200px 0;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .listItem {
    padding: 24px 15px;
    max-width: 350px;
    height: 300px;
  }

  .listItem h2 {
    font-size: 35px;
  }
}
