.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  margin-top: 16px;
}

.description {
  text-align: center;
  margin-top: auto;
}

.icon {
  width: 80px;
  height: 80px;
}
