.header {
  color: white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  padding: 26px 130px;
  margin-bottom: 143px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  & a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--gray-0);
  }
}

.icon {
  height: 48px;
}
