.header {
  color: white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  padding: 26px 130px;
  margin-bottom: 143px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  & a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--gray-0);
  }
}

.icon {
  height: 48px;
}

@media (max-width: 1280px) {
  .header {
    padding: 20px 100px;
  }

  .navLinks {
    gap: 24px;
  }

  .navLinks a {
    font-size: 13px;
  }

  .icon {
    height: 42px;
  }
}

/* ======== 📱 1024px (Планшеты) ======== */
@media (max-width: 1024px) {
  .header {
    padding: 20px 80px;
    margin-bottom: 120px;
  }

  .navLinks {
    gap: 12px;
  }

  .navLinks a {
    font-size: 12px;
  }

  .icon {
    height: 38px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px 40px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navLinks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin-top: 10px;
  }

  .navLinks a {
    font-size: 12px;
  }

  .icon {
    height: 36px;
  }

  .header {
    padding: 20px 80px;
    margin-bottom: 80px;
  }

  .button {
    display: none;
  }
}

/* ======== 📱 480px (Мобильные) ======== */
@media (max-width: 480px) {
  .header {
    padding: 14px 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navLinks {
    gap: 8px;
    margin-top: 12px;
  }

  .navLinks a {
    font-size: 12px;
  }

  .icon {
    height: 32px;
  }
}
