.card {
  position: absolute;
  border-radius: 25px;
  padding: 59px 18px;
  width: 195px;
  height: 251px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 38px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blueCard {
  backdrop-filter: blur(100px);
  background: linear-gradient(
      46deg,
      rgba(41, 46, 75, 0.7) 0%,
      rgba(37, 40, 58, 0.7) 100%,
      rgba(41, 46, 75, 0.7) 100%
    ),
    radial-gradient(
      96.91% 150.88% at 137.44% 90.44%,
      #3eeee3 29.6%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      59.66% 93.52% at 17.69% 100%,
      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    );
  top: 60%;
  right: 21%;
}

.pinkCard {
  backdrop-filter: blur(100px);
  background: linear-gradient(
      135deg,
      rgba(32, 33, 46, 0.8) 0%,
      rgba(37, 40, 58, 0.8) 100%,
      rgba(41, 46, 75, 0.8) 100%
    ),
    radial-gradient(
      105.62% 104.06% at 8.46% 139.64%,
      #3eeee3 35.28%,
      rgba(62, 69, 238, 0) 100%
    ),
    radial-gradient(
      75.34% 62.63% at 100% 5.38%,
      #df1dff 0%,
      rgba(72, 205, 255, 0) 100%
    );
  top: 40%;
  left: 80%;
}

.number {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-align: start;
}

.text {
  font-size: 16px;
  color: #d9d9d9;
  text-align: start;
}

.avatarGroup {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 12px;
}

.avatar {
  width: 32px;
  height: 44px;
  border-radius: 20px;
  transform: rotate(15deg);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  box-shadow: 3.5px 0 0 1px rgb(165, 165, 165), 5px 0 0 rgba(59, 59, 59, 0);
  position: relative;
  z-index: 1;
}

.avatarWrapper {
  display: block;
  border: 1px solid #ffffff;
}

.avatar:not(:last-child) {
  margin-right: -10px;
}

.avatar:nth-child(1) {
  z-index: 5;
}
.avatar:nth-child(2) {
  z-index: 4;
}
.avatar:nth-child(3) {
  z-index: 3;
}
.avatar:nth-child(4) {
  z-index: 2;
}
.avatar:nth-child(5) {
  z-index: 1;
}
.avatar:nth-child(6) {
  z-index: 0;
}

@media (max-width: 1280px) {
  .card {
    width: 180px;
    height: 230px;
    padding: 50px 15px;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
  }

  .avatar {
    width: 30px;
    height: 42px;
  }

  .blueCard {
    top: 65%;
    right: 21%;
  }

  .pinkCard {
    top: 40%;
    left: 80%;
  }
}

/* ======= 📱 1024px (Планшеты) ======= */
@media (max-width: 1024px) {
  .card {
    width: 140px;
    height: 170px;
    padding: 30px 10px;
  }

  .blueCard {
    top: 70%;
    right: 18%;
  }

  .pinkCard {
    top: 40%;
    left: 82%;
  }

  .number {
    font-size: 24px;
  }

  .text {
    font-size: 13px;
  }

  .avatar {
    width: 25px;
    height: 36px;
  }
}

/* ======= 📱 768px (Маленькие планшеты) ======= */
@media (max-width: 768px) {
  .card {
    display: none;
  }
}
